:root {
	--transparent: rgba(255,255,255, 0.8);
  --light: #cccccc;  /* light version of primary  */
  --dark: #111111;  /* dark version of primary */
/*  --bgcolor: #673AB7;  /* e*/
  --default: #777777;  /* */
  --accent: #8BC34A;  /* */
  --accentLight: #F0F4C3;
}
body , .circle{
/*	background-image: url("http://home.kpn.nl/d.geerlings/img/FotoshootB_D-25.jpg");  */
 	background-color:var(--dark);
	font-family: 'Open Sans';
	margin-top: 50px;	
	position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {	
	font-size: 50px;
	margin: 30px 0;
}
h2 {
	font-weight: 600;
	font-size: 40px;
	color: var(--dark);
	margin-bottom: 10px;
}	
h3 {
	font-weight: 700;
	font-size: 30px;
	margin: 30px;
}
p {
	line-height: 24px;
	font-weight: 500;
}

/*  navbar */
.navbar {
	background-color: #ffffff;
}
.navbar-nav {
	margin: 0;
}
.navbar-fixed-top {
    border-width: 0px;
}
.nav>li>a {    
    display: inline-block;
	
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-header {

	display: inline-block;
}
.navbar-brand {
	font-weight: 900;
	 color: #000000;
}
#myNavbar .navbar-nav>li>a {
	font-weight: 600;
  color: #000000;
}
#myNavbar .navbar-nav>li>a:hover, 
button#submitBtn:hover{
    color: var(--light);
}
#myNavbar .navbar-nav>.active>a {
	background-color: var(--default);
    color: #ffffff;
}

/*  head section */

.head{
	padding: 30px 0 100px 0;
}
.name {
	font-weight: 600;
	color: var(--light);
}
.mission {
	font-weight: 100;
	color: #ffffff;
}

/*  main section */

.main {
	background-color: var(--transparent);
	border-radius: 2px;
	margin-bottom: 10px;
	padding: 20px 20px 100px 20px;
}
.lead {
    font-size: 18px;
    font-weight: 600;
}
#about img, .circle {
	border-radius: 50%;
	width: 200px;
	margin: -120px 0 30px 0;
}
.circle h2 {
	margin: 100px 0;
	color: #ffffff;
}
.circle {
	display: inline-block;
	height: 200px;
}

/* portfolio section */

/* Google Drive Direct Link Generator: https://sites.google.com/site/gdocs2direct/ */

.showcase {
	margin: 60px 0;
}
.showcase a {
	font-weight: 600;
	color: var(--default);
	height: 50px;
  display: block;
}
.pfImage {
	margin: 20px 0;
}


/* contact section */

.form-container {
	display:table;
}
.form-group {
	display: table-cell;
	vertical-align: bottom;
	height:55px;
	width: 100%;
}
/* color of placeholder text */
.white-placeholder::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  #ffffff;
}
.white-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18  
 Firefox's placeholder appears to be defaulting with a reduced opacity, 
 so needs to use opacity: 1 here.*/
   color:     #ffffff;
   opacity:  1;
}
.white-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:     #ffffff;
   opacity:  1;
}
.white-placeholder:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:     #ffffff;
}
button#submitBtn {
	background-color: var(--default);
	font-weight: 600;
  color: #ffffff;
	padding: 15px;
	border-radius: 0;
}

.message{
	height: 120px;
}


/*  footer */
footer {
	background-color: #ffffff;
}
.webLinks {
	margin-bottom: 20px;
}
.iconList {
	list-style-type: none;	
	padding: 0;
}
.iconList li {
	display: inline;
	padding: 30px;
	
}
.iconList li i {
	color: var(--default
	);
	font-size: 30px;
}

@media only screen and (max-width: 768px) {
	.navbar-header {
	background-color: var(--light);
	}
	 .name, .mission {
		 white-space: nowrap;
	}
	h1 {
		font-size: 40px;
	}
	h3 {
		font-size: 22px;
	}
	.nav li {
		display: inline;
	}
	#myNavbar ul{
		float: right;
	}

}